.footer {
    position: fixed;
    background-color: #b0716788;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    width: 100%;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}