.modal-image {
  width: 80%;
  height: auto;
  border-radius: 1px;
}

.modal-name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.modal-description {
  margin: 0.6rem 0;
  color: #666;
  font-size: 0.75rem;
}

.modal-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
}

.modal-tech {
  background-color: #423a35;
  color: #fff;
  padding: .10rem 0.3rem;
  border-radius: 4px;
  font-size: 0.75rem;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #e02b2b;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 80%; /* Adjust width as needed */
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-left {
  flex: 1;
  padding: 5px;
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.modal-right {
  flex: 0 0 400px;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
}